In [ ]:
# Env
import pandas as pd

In [18]:
# Datasets import
fornitori = pd.read_excel(r"C:\Users\andrea.frattini\Desktop\Progetti\Presentazioni interne\BarFlow-Manager\sample_data\FattureNoteDiCredito - Andea Frattini.xlsx", header=3)
pos = pd.read_excel(r"C:\Users\andrea.frattini\Desktop\Progetti\Presentazioni interne\BarFlow-Manager\sample_data\Transazione pos - Andrea Frattini.xlsx")

fornitori = fornitori.dropna(subset=['Totale'])
pos = pos.dropna(subset=['Importo netto'])

fornitori = fornitori[['Data', 'Numero Rif.', 'Fornitore', 'Totale']]
pos = pos[['Data Transazione', 'Numero operazione', 'Importo lordo', 'Commissioni', 'Importo netto']]

print("""Fornitori dataframe: {}
Pos dataframe: {}
""".format(fornitori.shape, pos.shape))

Fornitori dataframe: (84, 4)
Pos dataframe: (1732, 5)

In [19]:
fornitori.head()

        Data Numero Rif.                Fornitore   Totale
0 2025-10-07  9750937558       Action Italy S.R.L    58.80
1 2025-10-06         402           Giovanni Santi   238.82
2 2025-10-06    1565/FTD           MOKALBA S.R.L.   289.96
3 2025-10-04  014-038120  Leroy Merlin Italia srl    20.90
4 2025-10-03  D25.207079     Forno d'Asolo S.p.A.  1282.16

In [20]:
pos.head()

,Data Transazione,Numero operazione,Importo lordo,Commissioni,Importo netto
0,2025-09-30 23:28:00.0,4628779192,11.0,0.04,10.96
1,2025-09-30 23:20:10.0,4628128278,10.0,0.03,9.97
2,2025-09-30 23:02:08.0,4628062748,20.0,0.06,19.94
3,2025-09-30 22:42:30.0,4629514049,19.2,0.06,19.14
4,2025-09-30 22:38:22.0,4629705502,3.0,0.01,2.99